################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CUDA/.vs/CUDA/v16/Browse.VC.opendb
